# Server Configuration
NODE_ENV=production
PORT=5000

# MongoDB Atlas Production URI
# Format: mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/kamjodo?retryWrites=true&w=majority
MONGODB_URI=

# CORS Security (Comma-separated allowed origins for production admin web & API)
CORS_ORIGIN=https://admin.kamjodo.com,https://kamjodo.com
